
# Ignore generated outputs
/data/output*.csv
/data/used_records*.json
/data/rememberthemilk_export_*.json
.DS_Store
node_modules/
package-lock.json

# Coverage artifacts
.nyc_output/

# Temporary used_records created by tests
data/tmp_used_records_*.json

# ignore RTM export files and tmp used_records
data/rememberthemilk_export_*.json
data/tmp_used_records_*.json
